<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Contact</title>
    <style media="screen">
      body {
        background: pink;
      }
      h1{
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h1>DB</h1>
    <% include  nav.ejs %>
  </body>
</html>
